<strong>{{ _t('BENEVOLAT_UPDATE_TITLE') }}</strong>
<br>
<a 
  href="{{ url({handler:'gestionbenevolat'}) }}" 
  title="{{ _t('BENEVOLAT_MANAGE') }}" 
  class="btn btn-primary btn-xs"
  data-toggle="tooltip"
  data-placement="right"
  >
  {{ _t('BENEVOLAT_MANAGE') }}
</a>
<hr />